  <h2>Hello {{owner}}</h2>
  <h3>Student Details</h3>
  <form (ngSubmit)="addStudent()">
    <div>
      <label for="enrollNo">Enrollment Number:</label>
      <input type="number" id="enrollNo" [(ngModel)]="enrollNo" name="enrollNo" required />
    </div>
    <br>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required />
    </div>
    <br>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required />
    </div>
    <br>
    <button type="submit">Add Student</button>
  </form>


  <h3>Student List</h3>
  <table border="1">
    <thead>
      <tr>
        <th>Enrollment Number</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.enrollNo }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
      </tr>
    </tbody>
  </table>
<router-outlet />
